<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">    
</head>
<body class="bg-dark">
    <div class="container mt-4 pt-5 bg-light">
        <div class="row">
            <div class="col-4">
                <button type="button" class="btn btn-outline-primary mr-5" ><a href="/">Home</a></button>
                <button type="button" class="btn btn-primary"><a href="/add" class="text-light">Add New Blog</a></button>
                <div class="scrollable">
                    {{#each blogs as |blog|}}
                        <li class="nav-item mt-4 mb-4">
                            <a class="nav-link" href="/?_id={{blog._id}}">{{blog.title}}</a>
                        </li>
                    {{/each}}
                </div>
            </div>
            <div class="col-1">
                <div class="divider"></div>
            </div>
            <div class="col-7">
                {{#if selectedBlog}}
                    <div class="card" style="width: 40rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{selectedBlog.title}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{selectedBlog.subHeading}}</h6>
                            <p class="card-text">{{selectedBlog.content}}</p>
                            <a href="#" class="card-link">{{selectedBlog.author}}</a>
                        </div>
                    </div>
                {{else}}
                    <div class="card" style="width: 40rem;">
                        <div class="card-body">
                            <h5 class="card-title">Welcome To Bloggers</h5>
                            <h6 class="card-subtitle mb-2 text-muted">A Blog Web Application</h6>
                            <p class="card-text">Post Your Views Even If No One Cares.</p>
                            <a href="#" class="card-link">Who Cares</a>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</body>
</html>